{% extends "layout.html" %}

{% set page_title="Dollar By Dollar - Resources" %}

{% block content %}

    <main class="p-10 max-w-7xl mx-auto pt-24">
        <h2 class="text-4xl font-semibold text-blue-800 mb-10 text-center">Resources</h2>

        <div class="grid grid-cols-1 md:grid-cols-4 gap-6" id="resource_grid"></div>
    </main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var sections = [
        {"link":"", "title": "Module 1: Introduction to Money", "discription": "Throughout history, the concept of money has evolved and taken many different forms to serve as a medium of exchange across the world. The purpose is simple: to allow for easier transactions and exchange between others, for things that we want." },
        {"link":"", "title": "Module 2: Saving and Investing", "discription": "" },
        {"link":"", "title": "Module 3: Budgeting", "discription": "" },
        {"link":"", "title": "Module 4: Banking", "discription": "" },
        {"link":"", "title": "Module 5: Credit and Debt", "discription": "" },
        {"link":"", "title": "Module 6: Consumer Awareness", "discription": "" },
        {"link":"", "title": "Module 7: Financial Ethics", "discription": "" },
        {"link":"", "title": "Module 8: The Stock Market", "discription": "" }
    ];

    for (var i = 0; i < sections.length; i++) {
        $("#resource_grid").append(`
                    <div class='card'>
                        <div class='card-header'>${sections[i]['title']}</div>
                        <div class='card-content p-4 bg-blue-50 rounded-b-lg'>
                            <p class='text-blue-600 list-disc list-inside text-gray-700'>${sections[i]['discription']}</p>
                        </div>
                    </div>
                `);
    }

</script>

{% endblock %}
