
{% extends "layout.html" %}

{% set page_title="Dollar By Dollar - Our Team" %}

{% block content %}

    <main class="p-16 bg-gradient-to-b from-blue-50 to-blue-100 slide-in">
        <h2 class="text-4xl font-semibold text-blue-800 mb-10 mt-20 text-center">Our Team</h2>

        <div class="team-container">
            <!-- Team Member: Edward Li -->
            <div class="team-member">
                <img src="https://cdn.discordapp.com/attachments/1149898654639980586/1282508037419958405/image.png?ex=66df9c2f&is=66de4aaf&hm=8bb8d0a8219de90d4e3d046e118f63710f1046c869c1d99585697d3d4245dece&" alt="Edward Li">
                <h2>Edward Li</h2>
                <h3>Co-President & Co-Founder</h3>
            </div>

            <!-- Team Member: Eric Yin -->
            <div class="team-member">
                <img src="https://cdn.discordapp.com/attachments/1149898654639980586/1282508037655105536/image.png?ex=66df9c30&is=66de4ab0&hm=d8817d4cf4cefef52da9441d3904c2ba39d812ddae66e19011bc6cda467322c4&" alt="Eric Yin">
                <h2>Eric Yin</h2>
                <h3>Co-President & Co-Founder</h3>
            </div>

            <!-- Placeholder Team Members -->
            <div class="team-member">
                <img src="https://placehold.co/150x150" alt="Darius Pirnia">
                <h2>Darius Pirnia</h2>
                <h3>Chief Technology Officer</h3>
            </div>

            <div class="team-member">
                <img src="https://placehold.co/150x150" alt="Team Member">
                <h2>Placeholder Name</h2>
                <h3>Position</h3>
            </div>

            <div class="team-member">
                <img src="https://placehold.co/150x150" alt="Team Member">
                <h2>Placeholder Name</h2>
                <h3>Position</h3>
            </div>

            <div class="team-member">
                <img src="https://placehold.co/150x150" alt="Team Member">
                <h2>Placeholder Name</h2>
                <h3>Position</h3>
            </div>

            <div class="team-member">
                <img src="https://placehold.co/150x150" alt="Team Member">
                <h2>Placeholder Name</h2>
                <h3>Position</h3>
            </div>
        </div>
    </main>
{% endblock %}